ProyectosNET/CrewmanSystem/Connected Services/PersonaContactoWS/PersonaContactoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PersonaContactoWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/PersonaContactoWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarPersonaContacto">
    <part name="parameters" element="tns:insertarPersonaContacto" />
  </message>
  <message name="insertarPersonaContactoResponse">
    <part name="parameters" element="tns:insertarPersonaContactoResponse" />
  </message>
  <message name="actualizarPersonaContacto">
    <part name="parameters" element="tns:actualizarPersonaContacto" />
  </message>
  <message name="actualizarPersonaContactoResponse">
    <part name="parameters" element="tns:actualizarPersonaContactoResponse" />
  </message>
  <message name="mostrarPersonaContacto">
    <part name="parameters" element="tns:mostrarPersonaContacto" />
  </message>
  <message name="mostrarPersonaContactoResponse">
    <part name="parameters" element="tns:mostrarPersonaContactoResponse" />
  </message>
  <message name="eliminarPersonaContacto">
    <part name="parameters" element="tns:eliminarPersonaContacto" />
  </message>
  <message name="eliminarPersonaContactoResponse">
    <part name="parameters" element="tns:eliminarPersonaContactoResponse" />
  </message>
  <portType name="PersonaContactoWS">
    <operation name="insertarPersonaContacto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/insertarPersonaContactoRequest" message="tns:insertarPersonaContacto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/insertarPersonaContactoResponse" message="tns:insertarPersonaContactoResponse" />
    </operation>
    <operation name="actualizarPersonaContacto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/actualizarPersonaContactoRequest" message="tns:actualizarPersonaContacto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/actualizarPersonaContactoResponse" message="tns:actualizarPersonaContactoResponse" />
    </operation>
    <operation name="mostrarPersonaContacto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/mostrarPersonaContactoRequest" message="tns:mostrarPersonaContacto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/mostrarPersonaContactoResponse" message="tns:mostrarPersonaContactoResponse" />
    </operation>
    <operation name="eliminarPersonaContacto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/eliminarPersonaContactoRequest" message="tns:eliminarPersonaContacto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PersonaContactoWS/eliminarPersonaContactoResponse" message="tns:eliminarPersonaContactoResponse" />
    </operation>
  </portType>
  <binding name="PersonaContactoWSPortBinding" type="tns:PersonaContactoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarPersonaContacto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPersonaContacto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarPersonaContacto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPersonaContacto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PersonaContactoWS">
    <port name="PersonaContactoWSPort" binding="tns:PersonaContactoWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/PersonaContactoWS" />
    </port>
  </service>
</definitions>