ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/LineaPedidoWS/LineaPedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="LineaPedidoWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/LineaPedidoWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarLineaPedido">
    <part name="parameters" element="tns:insertarLineaPedido" />
  </message>
  <message name="insertarLineaPedidoResponse">
    <part name="parameters" element="tns:insertarLineaPedidoResponse" />
  </message>
  <message name="actualizarLineaPedido">
    <part name="parameters" element="tns:actualizarLineaPedido" />
  </message>
  <message name="actualizarLineaPedidoResponse">
    <part name="parameters" element="tns:actualizarLineaPedidoResponse" />
  </message>
  <message name="eliminarLineaPedido">
    <part name="parameters" element="tns:eliminarLineaPedido" />
  </message>
  <message name="eliminarLineaPedidoResponse">
    <part name="parameters" element="tns:eliminarLineaPedidoResponse" />
  </message>
  <message name="listarLineaPedidos">
    <part name="parameters" element="tns:listarLineaPedidos" />
  </message>
  <message name="listarLineaPedidosResponse">
    <part name="parameters" element="tns:listarLineaPedidosResponse" />
  </message>
  <portType name="LineaPedidoWS">
    <operation name="insertarLineaPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/insertarLineaPedidoRequest" message="tns:insertarLineaPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/insertarLineaPedidoResponse" message="tns:insertarLineaPedidoResponse" />
    </operation>
    <operation name="actualizarLineaPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/actualizarLineaPedidoRequest" message="tns:actualizarLineaPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/actualizarLineaPedidoResponse" message="tns:actualizarLineaPedidoResponse" />
    </operation>
    <operation name="eliminarLineaPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/eliminarLineaPedidoRequest" message="tns:eliminarLineaPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/eliminarLineaPedidoResponse" message="tns:eliminarLineaPedidoResponse" />
    </operation>
    <operation name="listarLineaPedidos">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/listarLineaPedidosRequest" message="tns:listarLineaPedidos" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/LineaPedidoWS/listarLineaPedidosResponse" message="tns:listarLineaPedidosResponse" />
    </operation>
  </portType>
  <binding name="LineaPedidoWSPortBinding" type="tns:LineaPedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarLineaPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarLineaPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLineaPedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LineaPedidoWS">
    <port name="LineaPedidoWSPort" binding="tns:LineaPedidoWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/LineaPedidoWS" />
    </port>
  </service>
</definitions>