ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/ProductoWS/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProductoWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/ProductoWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="mostrarProducto">
    <part name="parameters" element="tns:mostrarProducto" />
  </message>
  <message name="mostrarProductoResponse">
    <part name="parameters" element="tns:mostrarProductoResponse" />
  </message>
  <message name="actualizarProducto">
    <part name="parameters" element="tns:actualizarProducto" />
  </message>
  <message name="actualizarProductoResponse">
    <part name="parameters" element="tns:actualizarProductoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="listarProductos">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
    <operation name="mostrarProducto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/mostrarProductoRequest" message="tns:mostrarProducto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/mostrarProductoResponse" message="tns:mostrarProductoResponse" />
    </operation>
    <operation name="actualizarProducto">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/actualizarProductoRequest" message="tns:actualizarProducto" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ProductoWS/actualizarProductoResponse" message="tns:actualizarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/ProductoWS" />
    </port>
  </service>
</definitions>