ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/QuejaWS/QuejaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarQueja" type="tns:actualizarQueja" />
  <xs:element name="actualizarQuejaResponse" type="tns:actualizarQuejaResponse" />
  <xs:element name="eliminarQueja" type="tns:eliminarQueja" />
  <xs:element name="eliminarQuejaResponse" type="tns:eliminarQuejaResponse" />
  <xs:element name="insertarQueja" type="tns:insertarQueja" />
  <xs:element name="insertarQuejaResponse" type="tns:insertarQuejaResponse" />
  <xs:element name="listarQuejas" type="tns:listarQuejas" />
  <xs:element name="listarQuejasResponse" type="tns:listarQuejasResponse" />
  <xs:complexType name="insertarQueja">
    <xs:sequence>
      <xs:element minOccurs="0" name="queja" type="tns:queja" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queja">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idQueja" type="xs:int" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="direccionEntrega" type="xs:string" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
      <xs:element minOccurs="0" name="estadoPedido" type="tns:estadoPedido" />
      <xs:element minOccurs="0" name="fechaAprobado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaEstim" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasPedidos" nillable="true" type="tns:lineaPedido" />
      <xs:element name="montoPagar" type="xs:double" />
      <xs:element name="montoTotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoPedido" type="tns:tipoPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaUltimaCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grupo" type="xs:string" />
      <xs:element name="idCliente" type="xs:int" />
      <xs:element minOccurs="0" name="lineaCredito" type="tns:lineaCredito" />
      <xs:element minOccurs="0" name="personaContacto" type="tns:personaContacto" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="tipoEmpresa" type="xs:string" />
      <xs:element minOccurs="0" name="zona" type="tns:zona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartera">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaVisita" nillable="true" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="cargo" type="tns:cargo" />
          <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
          <xs:element minOccurs="0" name="contraseña" type="xs:string" />
          <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
          <xs:element name="idEmpleado" type="xs:int" />
          <xs:element minOccurs="0" name="jefe" type="tns:empleado" />
          <xs:element name="objetivoVentas" type="xs:double" />
          <xs:element name="sumVentas" type="xs:double" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
          <xs:element minOccurs="0" name="zona" type="tns:zona" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
      <xs:element minOccurs="0" name="telefono1" type="xs:string" />
      <xs:element minOccurs="0" name="telefono2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cargo">
    <xs:sequence>
      <xs:element name="idCargo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="zona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idZona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visita">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idVisita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaCredito">
    <xs:sequence>
      <xs:element name="aprobado" type="xs:boolean" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idLineaCredito" type="xs:int" />
      <xs:element name="montoLineaCredito" type="xs:double" />
      <xs:element name="montoUtilizado" type="xs:double" />
      <xs:element minOccurs="0" name="motivo" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaContacto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="cargo" type="xs:string" />
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element name="idPersonaContacto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="lineaPedido">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="cantidadPromo" type="xs:int" />
      <xs:element name="idLineaPedido" type="xs:int" />
      <xs:element name="montoSubTotal" type="xs:double" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedido" />
      <xs:element minOccurs="0" name="productoXZona" type="tns:productoXZona" />
      <xs:element minOccurs="0" name="promocionXProducto" type="tns:promocionXProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoXZona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idProductoXZona" type="xs:int" />
      <xs:element name="precioReal" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="zona" type="tns:zona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantUnidad" type="xs:double" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioSugerido" type="xs:double" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="stockReservado" type="xs:int" />
      <xs:element minOccurs="0" name="subFamilia" type="tns:subFamilia" />
      <xs:element minOccurs="0" name="unidades" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subFamilia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcionSubFamilia" type="xs:string" />
      <xs:element minOccurs="0" name="familia" type="tns:familia" />
      <xs:element name="idSubFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="familia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocionXProducto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="descuento" type="xs:int" />
      <xs:element name="idPromocionXProducto" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="promocion" type="tns:promocion" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="stockReservado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarQuejaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarQueja">
    <xs:sequence>
      <xs:element minOccurs="0" name="queja" type="tns:queja" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarQuejaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarQueja">
    <xs:sequence>
      <xs:element name="idQueja" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarQuejaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarQuejas">
    <xs:sequence>
      <xs:element name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarQuejasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:queja" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FINALIZADO" />
      <xs:enumeration value="EN_PROCESO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="ESPERANDO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BORRADOR" />
      <xs:enumeration value="PEDIDO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>