ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/QuejaWS/QuejaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="QuejaWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/QuejaWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarQueja">
    <part name="parameters" element="tns:actualizarQueja" />
  </message>
  <message name="actualizarQuejaResponse">
    <part name="parameters" element="tns:actualizarQuejaResponse" />
  </message>
  <message name="listarQuejas">
    <part name="parameters" element="tns:listarQuejas" />
  </message>
  <message name="listarQuejasResponse">
    <part name="parameters" element="tns:listarQuejasResponse" />
  </message>
  <message name="insertarQueja">
    <part name="parameters" element="tns:insertarQueja" />
  </message>
  <message name="insertarQuejaResponse">
    <part name="parameters" element="tns:insertarQuejaResponse" />
  </message>
  <message name="eliminarQueja">
    <part name="parameters" element="tns:eliminarQueja" />
  </message>
  <message name="eliminarQuejaResponse">
    <part name="parameters" element="tns:eliminarQuejaResponse" />
  </message>
  <portType name="QuejaWS">
    <operation name="actualizarQueja">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/actualizarQuejaRequest" message="tns:actualizarQueja" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/actualizarQuejaResponse" message="tns:actualizarQuejaResponse" />
    </operation>
    <operation name="listarQuejas">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/listarQuejasRequest" message="tns:listarQuejas" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/listarQuejasResponse" message="tns:listarQuejasResponse" />
    </operation>
    <operation name="insertarQueja">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/insertarQuejaRequest" message="tns:insertarQueja" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/insertarQuejaResponse" message="tns:insertarQuejaResponse" />
    </operation>
    <operation name="eliminarQueja">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/eliminarQuejaRequest" message="tns:eliminarQueja" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/QuejaWS/eliminarQuejaResponse" message="tns:eliminarQuejaResponse" />
    </operation>
  </portType>
  <binding name="QuejaWSPortBinding" type="tns:QuejaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarQueja">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarQuejas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarQueja">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarQueja">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="QuejaWS">
    <port name="QuejaWSPort" binding="tns:QuejaWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/QuejaWS" />
    </port>
  </service>
</definitions>