ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/VisitaWS/VisitaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="VisitaWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/VisitaWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarVisita">
    <part name="parameters" element="tns:actualizarVisita" />
  </message>
  <message name="actualizarVisitaResponse">
    <part name="parameters" element="tns:actualizarVisitaResponse" />
  </message>
  <message name="listarVisitas">
    <part name="parameters" element="tns:listarVisitas" />
  </message>
  <message name="listarVisitasResponse">
    <part name="parameters" element="tns:listarVisitasResponse" />
  </message>
  <message name="insertarVisita">
    <part name="parameters" element="tns:insertarVisita" />
  </message>
  <message name="insertarVisitaResponse">
    <part name="parameters" element="tns:insertarVisitaResponse" />
  </message>
  <portType name="VisitaWS">
    <operation name="actualizarVisita">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/VisitaWS/actualizarVisitaRequest" message="tns:actualizarVisita" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/VisitaWS/actualizarVisitaResponse" message="tns:actualizarVisitaResponse" />
    </operation>
    <operation name="listarVisitas">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/VisitaWS/listarVisitasRequest" message="tns:listarVisitas" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/VisitaWS/listarVisitasResponse" message="tns:listarVisitasResponse" />
    </operation>
    <operation name="insertarVisita">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/VisitaWS/insertarVisitaRequest" message="tns:insertarVisita" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/VisitaWS/insertarVisitaResponse" message="tns:insertarVisitaResponse" />
    </operation>
  </portType>
  <binding name="VisitaWSPortBinding" type="tns:VisitaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarVisita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVisitas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarVisita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VisitaWS">
    <port name="VisitaWSPort" binding="tns:VisitaWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/VisitaWS" />
    </port>
  </service>
</definitions>