ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/PedidoWS/PedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PedidoWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/PedidoWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="culminarPedido">
    <part name="parameters" element="tns:culminarPedido" />
  </message>
  <message name="culminarPedidoResponse">
    <part name="parameters" element="tns:culminarPedidoResponse" />
  </message>
  <message name="eliminarPedido">
    <part name="parameters" element="tns:eliminarPedido" />
  </message>
  <message name="eliminarPedidoResponse">
    <part name="parameters" element="tns:eliminarPedidoResponse" />
  </message>
  <message name="insertarPedido">
    <part name="parameters" element="tns:insertarPedido" />
  </message>
  <message name="insertarPedidoResponse">
    <part name="parameters" element="tns:insertarPedidoResponse" />
  </message>
  <message name="obtenerPedido">
    <part name="parameters" element="tns:obtenerPedido" />
  </message>
  <message name="obtenerPedidoResponse">
    <part name="parameters" element="tns:obtenerPedidoResponse" />
  </message>
  <message name="generarReporte">
    <part name="parameters" element="tns:generarReporte" />
  </message>
  <message name="generarReporteResponse">
    <part name="parameters" element="tns:generarReporteResponse" />
  </message>
  <message name="anular">
    <part name="parameters" element="tns:anular" />
  </message>
  <message name="anularResponse">
    <part name="parameters" element="tns:anularResponse" />
  </message>
  <message name="mostrarPedido">
    <part name="parameters" element="tns:mostrarPedido" />
  </message>
  <message name="mostrarPedidoResponse">
    <part name="parameters" element="tns:mostrarPedidoResponse" />
  </message>
  <message name="insertarTotal">
    <part name="parameters" element="tns:insertarTotal" />
  </message>
  <message name="insertarTotalResponse">
    <part name="parameters" element="tns:insertarTotalResponse" />
  </message>
  <message name="actualizarPedido">
    <part name="parameters" element="tns:actualizarPedido" />
  </message>
  <message name="actualizarPedidoResponse">
    <part name="parameters" element="tns:actualizarPedidoResponse" />
  </message>
  <message name="listarPedidos">
    <part name="parameters" element="tns:listarPedidos" />
  </message>
  <message name="listarPedidosResponse">
    <part name="parameters" element="tns:listarPedidosResponse" />
  </message>
  <message name="liberarStock">
    <part name="parameters" element="tns:liberarStock" />
  </message>
  <message name="liberarStockResponse">
    <part name="parameters" element="tns:liberarStockResponse" />
  </message>
  <message name="aprobarBorrador">
    <part name="parameters" element="tns:aprobarBorrador" />
  </message>
  <message name="aprobarBorradorResponse">
    <part name="parameters" element="tns:aprobarBorradorResponse" />
  </message>
  <portType name="PedidoWS">
    <operation name="culminarPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/culminarPedidoRequest" message="tns:culminarPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/culminarPedidoResponse" message="tns:culminarPedidoResponse" />
    </operation>
    <operation name="eliminarPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/eliminarPedidoRequest" message="tns:eliminarPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/eliminarPedidoResponse" message="tns:eliminarPedidoResponse" />
    </operation>
    <operation name="insertarPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/insertarPedidoRequest" message="tns:insertarPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/insertarPedidoResponse" message="tns:insertarPedidoResponse" />
    </operation>
    <operation name="obtenerPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/obtenerPedidoRequest" message="tns:obtenerPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/obtenerPedidoResponse" message="tns:obtenerPedidoResponse" />
    </operation>
    <operation name="generarReporte">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/generarReporteRequest" message="tns:generarReporte" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/generarReporteResponse" message="tns:generarReporteResponse" />
    </operation>
    <operation name="anular">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/anularRequest" message="tns:anular" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/anularResponse" message="tns:anularResponse" />
    </operation>
    <operation name="mostrarPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/mostrarPedidoRequest" message="tns:mostrarPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/mostrarPedidoResponse" message="tns:mostrarPedidoResponse" />
    </operation>
    <operation name="insertarTotal">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/insertarTotalRequest" message="tns:insertarTotal" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/insertarTotalResponse" message="tns:insertarTotalResponse" />
    </operation>
    <operation name="actualizarPedido">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/actualizarPedidoRequest" message="tns:actualizarPedido" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/actualizarPedidoResponse" message="tns:actualizarPedidoResponse" />
    </operation>
    <operation name="listarPedidos">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/listarPedidosRequest" message="tns:listarPedidos" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/listarPedidosResponse" message="tns:listarPedidosResponse" />
    </operation>
    <operation name="liberarStock">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/liberarStockRequest" message="tns:liberarStock" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/liberarStockResponse" message="tns:liberarStockResponse" />
    </operation>
    <operation name="aprobarBorrador">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/aprobarBorradorRequest" message="tns:aprobarBorrador" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PedidoWS/aprobarBorradorResponse" message="tns:aprobarBorradorResponse" />
    </operation>
  </portType>
  <binding name="PedidoWSPortBinding" type="tns:PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="culminarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarReporte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="anular">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="liberarStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="aprobarBorrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PedidoWS">
    <port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/PedidoWS" />
    </port>
  </service>
</definitions>