ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/PromocionWS/PromocionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PromocionWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/PromocionWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarPromocion">
    <part name="parameters" element="tns:actualizarPromocion" />
  </message>
  <message name="actualizarPromocionResponse">
    <part name="parameters" element="tns:actualizarPromocionResponse" />
  </message>
  <message name="insertarPromocion">
    <part name="parameters" element="tns:insertarPromocion" />
  </message>
  <message name="insertarPromocionResponse">
    <part name="parameters" element="tns:insertarPromocionResponse" />
  </message>
  <message name="eliminarPromocion">
    <part name="parameters" element="tns:eliminarPromocion" />
  </message>
  <message name="eliminarPromocionResponse">
    <part name="parameters" element="tns:eliminarPromocionResponse" />
  </message>
  <message name="listarPromocions">
    <part name="parameters" element="tns:listarPromocions" />
  </message>
  <message name="listarPromocionsResponse">
    <part name="parameters" element="tns:listarPromocionsResponse" />
  </message>
  <portType name="PromocionWS">
    <operation name="actualizarPromocion">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/actualizarPromocionRequest" message="tns:actualizarPromocion" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/actualizarPromocionResponse" message="tns:actualizarPromocionResponse" />
    </operation>
    <operation name="insertarPromocion">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/insertarPromocionRequest" message="tns:insertarPromocion" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/insertarPromocionResponse" message="tns:insertarPromocionResponse" />
    </operation>
    <operation name="eliminarPromocion">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/eliminarPromocionRequest" message="tns:eliminarPromocion" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/eliminarPromocionResponse" message="tns:eliminarPromocionResponse" />
    </operation>
    <operation name="listarPromocions">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/listarPromocionsRequest" message="tns:listarPromocions" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/PromocionWS/listarPromocionsResponse" message="tns:listarPromocionsResponse" />
    </operation>
  </portType>
  <binding name="PromocionWSPortBinding" type="tns:PromocionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPromocions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PromocionWS">
    <port name="PromocionWSPort" binding="tns:PromocionWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/PromocionWS" />
    </port>
  </service>
</definitions>