ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/FacturaWS/FacturaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="FacturaWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/FacturaWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarFactura">
    <part name="parameters" element="tns:insertarFactura" />
  </message>
  <message name="insertarFacturaResponse">
    <part name="parameters" element="tns:insertarFacturaResponse" />
  </message>
  <message name="listarFacturas">
    <part name="parameters" element="tns:listarFacturas" />
  </message>
  <message name="listarFacturasResponse">
    <part name="parameters" element="tns:listarFacturasResponse" />
  </message>
  <message name="eliminarFactura">
    <part name="parameters" element="tns:eliminarFactura" />
  </message>
  <message name="eliminarFacturaResponse">
    <part name="parameters" element="tns:eliminarFacturaResponse" />
  </message>
  <message name="actualizarFactura">
    <part name="parameters" element="tns:actualizarFactura" />
  </message>
  <message name="actualizarFacturaResponse">
    <part name="parameters" element="tns:actualizarFacturaResponse" />
  </message>
  <portType name="FacturaWS">
    <operation name="insertarFactura">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/insertarFacturaRequest" message="tns:insertarFactura" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/insertarFacturaResponse" message="tns:insertarFacturaResponse" />
    </operation>
    <operation name="listarFacturas">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/listarFacturasRequest" message="tns:listarFacturas" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/listarFacturasResponse" message="tns:listarFacturasResponse" />
    </operation>
    <operation name="eliminarFactura">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/eliminarFacturaRequest" message="tns:eliminarFactura" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/eliminarFacturaResponse" message="tns:eliminarFacturaResponse" />
    </operation>
    <operation name="actualizarFactura">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/actualizarFacturaRequest" message="tns:actualizarFactura" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/FacturaWS/actualizarFacturaResponse" message="tns:actualizarFacturaResponse" />
    </operation>
  </portType>
  <binding name="FacturaWSPortBinding" type="tns:FacturaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFacturas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FacturaWS">
    <port name="FacturaWSPort" binding="tns:FacturaWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/FacturaWS" />
    </port>
  </service>
</definitions>