ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/ProductoXZonaWS/ProductoXZonaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarProductoXZona" type="tns:insertarProductoXZona" />
  <xs:element name="insertarProductoXZonaResponse" type="tns:insertarProductoXZonaResponse" />
  <xs:element name="listarProductosXZonas" type="tns:listarProductosXZonas" />
  <xs:element name="listarProductosXZonasResponse" type="tns:listarProductosXZonasResponse" />
  <xs:complexType name="insertarProductoXZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoXZona" type="tns:productoXZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoXZona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idProductoXZona" type="xs:int" />
      <xs:element name="precioReal" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="zona" type="tns:zona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantUnidad" type="xs:double" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioSugerido" type="xs:double" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="stockReservado" type="xs:int" />
      <xs:element minOccurs="0" name="subFamilia" type="tns:subFamilia" />
      <xs:element minOccurs="0" name="unidades" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subFamilia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcionSubFamilia" type="xs:string" />
      <xs:element minOccurs="0" name="familia" type="tns:familia" />
      <xs:element name="idSubFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="familia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="zona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idZona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoXZonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosXZonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoStr" type="xs:string" />
      <xs:element minOccurs="0" name="zonaStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosXZonasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoXZona" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>