ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/PromocionXZonaWS/PromocionXZonaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarPromocionXZona" type="tns:insertarPromocionXZona" />
  <xs:element name="insertarPromocionXZonaResponse" type="tns:insertarPromocionXZonaResponse" />
  <xs:element name="listarPromocionXZona" type="tns:listarPromocionXZona" />
  <xs:element name="listarPromocionXZonaResponse" type="tns:listarPromocionXZonaResponse" />
  <xs:complexType name="listarPromocionXZona">
    <xs:sequence>
      <xs:element name="idPromocion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionXZonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocionXZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocionXZona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idPromocionXZona" type="xs:int" />
      <xs:element minOccurs="0" name="promocion" type="tns:promocion" />
      <xs:element minOccurs="0" name="zona" type="tns:zona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="zona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idZona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionXZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="promocionXZona" type="tns:promocionXZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionXZonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>