ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/GuiaRemisionWS/GuiaRemisionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GuiaRemisionWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/GuiaRemisionWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarGuiaRemisions">
    <part name="parameters" element="tns:listarGuiaRemisions" />
  </message>
  <message name="listarGuiaRemisionsResponse">
    <part name="parameters" element="tns:listarGuiaRemisionsResponse" />
  </message>
  <message name="actualizarGuiaRemision">
    <part name="parameters" element="tns:actualizarGuiaRemision" />
  </message>
  <message name="actualizarGuiaRemisionResponse">
    <part name="parameters" element="tns:actualizarGuiaRemisionResponse" />
  </message>
  <message name="listarGuiaRemisionsXVendedor">
    <part name="parameters" element="tns:listarGuiaRemisionsXVendedor" />
  </message>
  <message name="listarGuiaRemisionsXVendedorResponse">
    <part name="parameters" element="tns:listarGuiaRemisionsXVendedorResponse" />
  </message>
  <message name="insertarGuiaRemision">
    <part name="parameters" element="tns:insertarGuiaRemision" />
  </message>
  <message name="insertarGuiaRemisionResponse">
    <part name="parameters" element="tns:insertarGuiaRemisionResponse" />
  </message>
  <portType name="GuiaRemisionWS">
    <operation name="listarGuiaRemisions">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/listarGuiaRemisionsRequest" message="tns:listarGuiaRemisions" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/listarGuiaRemisionsResponse" message="tns:listarGuiaRemisionsResponse" />
    </operation>
    <operation name="actualizarGuiaRemision">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/actualizarGuiaRemisionRequest" message="tns:actualizarGuiaRemision" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/actualizarGuiaRemisionResponse" message="tns:actualizarGuiaRemisionResponse" />
    </operation>
    <operation name="listarGuiaRemisionsXVendedor">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/listarGuiaRemisionsXVendedorRequest" message="tns:listarGuiaRemisionsXVendedor" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/listarGuiaRemisionsXVendedorResponse" message="tns:listarGuiaRemisionsXVendedorResponse" />
    </operation>
    <operation name="insertarGuiaRemision">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/insertarGuiaRemisionRequest" message="tns:insertarGuiaRemision" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/GuiaRemisionWS/insertarGuiaRemisionResponse" message="tns:insertarGuiaRemisionResponse" />
    </operation>
  </portType>
  <binding name="GuiaRemisionWSPortBinding" type="tns:GuiaRemisionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarGuiaRemisions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarGuiaRemision">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGuiaRemisionsXVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarGuiaRemision">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GuiaRemisionWS">
    <port name="GuiaRemisionWSPort" binding="tns:GuiaRemisionWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/GuiaRemisionWS" />
    </port>
  </service>
</definitions>