ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/ReporteWS/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteMejoresClientes" type="tns:generarReporteMejoresClientes" />
  <xs:element name="generarReporteMejoresClientesResponse" type="tns:generarReporteMejoresClientesResponse" />
  <xs:element name="generarReporteMejoresEmpleados" type="tns:generarReporteMejoresEmpleados" />
  <xs:element name="generarReporteMejoresEmpleadosResponse" type="tns:generarReporteMejoresEmpleadosResponse" />
  <xs:element name="generarReportePedidos" type="tns:generarReportePedidos" />
  <xs:element name="generarReportePedidosResponse" type="tns:generarReportePedidosResponse" />
  <xs:element name="generarReportePedidosXCliente" type="tns:generarReportePedidosXCliente" />
  <xs:element name="generarReportePedidosXClienteResponse" type="tns:generarReportePedidosXClienteResponse" />
  <xs:element name="generarReportePromocion" type="tns:generarReportePromocion" />
  <xs:element name="generarReportePromocionResponse" type="tns:generarReportePromocionResponse" />
  <xs:element name="generarReporteQuejas" type="tns:generarReporteQuejas" />
  <xs:element name="generarReporteQuejasResponse" type="tns:generarReporteQuejasResponse" />
  <xs:element name="generarReporteVisitas" type="tns:generarReporteVisitas" />
  <xs:element name="generarReporteVisitasResponse" type="tns:generarReporteVisitasResponse" />
  <xs:complexType name="generarReportePedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="idJefe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePedidosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="idPromocion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePromocionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteMejoresClientes">
    <xs:sequence>
      <xs:element name="idJefe" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteMejoresClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteVisitas">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="idEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteVisitasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteQuejas">
    <xs:sequence>
      <xs:element name="idJefe" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteQuejasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePedidosXCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPedido" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePedidosXClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteMejoresEmpleados">
    <xs:sequence>
      <xs:element name="idJefe" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteMejoresEmpleadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>