ServidorJAVA-ClienteCSharp/ProyectosNET/CrewmanSystem/Connected Services/ClienteXZonaWS/ClienteXZonaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.CrewmanSystem.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ClienteXZonaWS" targetNamespace="http://services.CrewmanSystem.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.80.91.225:8080/CrewmanSystemServices/ClienteXZonaWS?xsd=1" namespace="http://services.CrewmanSystem.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarClienteXZona">
    <part name="parameters" element="tns:insertarClienteXZona" />
  </message>
  <message name="insertarClienteXZonaResponse">
    <part name="parameters" element="tns:insertarClienteXZonaResponse" />
  </message>
  <message name="obtenerClientePorZona">
    <part name="parameters" element="tns:obtenerClientePorZona" />
  </message>
  <message name="obtenerClientePorZonaResponse">
    <part name="parameters" element="tns:obtenerClientePorZonaResponse" />
  </message>
  <message name="eliminarClienteXZona">
    <part name="parameters" element="tns:eliminarClienteXZona" />
  </message>
  <message name="eliminarClienteXZonaResponse">
    <part name="parameters" element="tns:eliminarClienteXZonaResponse" />
  </message>
  <portType name="ClienteXZonaWS">
    <operation name="insertarClienteXZona">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ClienteXZonaWS/insertarClienteXZonaRequest" message="tns:insertarClienteXZona" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ClienteXZonaWS/insertarClienteXZonaResponse" message="tns:insertarClienteXZonaResponse" />
    </operation>
    <operation name="obtenerClientePorZona">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ClienteXZonaWS/obtenerClientePorZonaRequest" message="tns:obtenerClientePorZona" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ClienteXZonaWS/obtenerClientePorZonaResponse" message="tns:obtenerClientePorZonaResponse" />
    </operation>
    <operation name="eliminarClienteXZona">
      <input wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ClienteXZonaWS/eliminarClienteXZonaRequest" message="tns:eliminarClienteXZona" />
      <output wsam:Action="http://services.CrewmanSystem.pucp.edu.pe/ClienteXZonaWS/eliminarClienteXZonaResponse" message="tns:eliminarClienteXZonaResponse" />
    </operation>
  </portType>
  <binding name="ClienteXZonaWSPortBinding" type="tns:ClienteXZonaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarClienteXZona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerClientePorZona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarClienteXZona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteXZonaWS">
    <port name="ClienteXZonaWSPort" binding="tns:ClienteXZonaWSPortBinding">
      <soap:address location="http://54.80.91.225:8080/CrewmanSystemServices/ClienteXZonaWS" />
    </port>
  </service>
</definitions>